.home-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logout_button {
  width: 200px;
}

.links-div {
  display: flex;
  justify-content: flex-start;
}

.links-div a {
  margin: 0 5px;
}
